/target
/vcpkg
Cargo.lock
nfe_request.xml
cert_pass.txt
nfe_config.json
tested_response_from_sefaz.xml
xml_validation_error.xml
inf_evento.xml
cancelar_response.xml
cancelar.xml
inf_evento.xml
.vscode
distribuicao-logs/
distribuicao.conf.ini
.claude
testes/
CLAUDE.md
danfe_output.pdf
flag_autorizacao.env
manifestacao_inf_evento.xml
manifestacao_response.xml
manifestacao.xml
test_nfce_output.pdf
test_nfe_a4_output.pdf
test_nfce_qr_side_output.pdf
